.main {
  position: relative;
  overflow-y: auto;
  scrollbar-gutter: stable; // Prevents layout shift when scrollbar activates
  height: 100vh;
  width: 100vw;
}

.animation-container {
  position: relative;
  height: 100%;
  width: 100%;
}
